:root{
--cor-de-fundo: #000;
--branco: #999;
--cor-de-fundo-caixa:rgb(15, 43, 138);
--cor-titulo: blue;
--azul-diferente:  #1E90FF;
--preto-moderno: #696969;
}

body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    font-size: 1.5rem;
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}

.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: var(--cor-de-fundo-caixa);
    margin-top: 30px;
}

.img1{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.link1{
    text-decoration: none;
    background-color: var(--azul-diferente);
    padding:8px;
    border-radius: 10px;
    color: var(--cor-de-fundo-caixa);
}

.container-header{
    display: flex;
    background-color: var(--cor-de-fundo-caixa);
    justify-content: space-around;
}

.icon{
    background-color: var(--cor-de-fundo-fundo);
}

.texto-header{
    color: var(--cor-titulo);
    font-size: 2rem;
}

.parte2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: var(--cor-de-fundo-caixa);
    margin-top: 30px;
}

.img2{
    border-radius: 8px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
}

.txt-a{
    color: var(--azul-diferente);
    font-size:1.7rem;
}

.parte3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: var(--cor-de-fundo-caixa);
    margin-top: 30px;
}

.img3{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

a{
    text-decoration: none;
}

.rodape {
  text-align: center;
  padding-top: 10px;  
  padding-bottom: 20px; 
  margin-top: 40px;
  font-size: 1.1rem;
}

.linha {
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-bottom: 10px; 
}

.fa-solid{
    background-color: var(--cor-de-fundo-caixa);
    padding:10px;

}

.container-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    margin-left: 175px;
}

.txt-rodape{
    background-color: var(--cor-de-fundo-caixa);
    padding: 40px;
}

.rodape-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

