:root{
    --preto: #000;
    --azul-claro: lightblue;
    --branco: white;
    --azul-diferente:  #1E90FF;
    --azul: blue;
    --preto-diferente: rgba(0,0,0,0.2);
    --azul-fundo: rgb(24, 88, 151);
}

body{
    font-family: 'Arial' , sans-serif;
    margin: 0;
    height: 100vh;
    font-size: 1.5rem;
    background-color: var(--azul-fundo);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.principal{
    display: flex;
    flex-direction: row-reverse;
    gap:10rem
}

.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--branco);
    box-shadow: 0px 4px 10px var(--preto-diferente);
    width: 350px; 
}

.barra{
    width: 100%; 
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid var(--azul-diferente);
    padding: 12px;
    color:var(--preto);
}

.barra:focus{
    outline:none;
    border: 2px solid var(--azul-diferente);
}

.entrar{
    width: 100%;
    padding:12px;
    border-radius:10px;
    font-size:20px;
    color:var(--azul-claro);
    background-color: rgb(36, 49, 122);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.entrar:hover{
    background-color: var(--azul-diferente);
    color: var(--branco);
}

input::placeholder{
    color:var(--preto);
    opacity:0.8;
}

.apoio{
    text-decoration: none;
    color: var(--azul-diferente);
}

h1{
    color: darkblue;
    font-family: "Bitcount Grid Double", sans-serif;
    font-weight: 350;
    font-size:4rem;
}

.text_apoio{
    font-size: 1.3rem;
}

.entrar_botoes{
    padding:10px;
    border-radius:10px;
    border: 1px solid var(--azul-diferente);
    font-size: 20px;
    background-color: var(--branco);
    color: var(--preto);
}

.entrar_metodos{
    display:flex;
    gap: 10px;
    width:100%;
    justify-content: center;
}