{% extends "template.html" %}
{%block cabecalho%}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/login.css')}}"/>
 {%endblock%}

{%block corpo%}
  <div class="container">
    <div class="login-box">
      <h2>Cadastro</h2>
      <form action= "{{ url_for('criar') }}" method="post">
        {{ form.csrf_token() }}
         <!-- <label for="nickname">Nickname</label> -->
          {{form.nickname.label()}}
        <div class="input-group">
          <span class="icon">👤</span>
          <!-- <input type="" id="email" name="email" required /> -->
           {{ form.nickname()}}
        </div>
        {{form.email.label()}}
        <div class="input-group">
          <span class="icon">📧</span>
          {{ form.email()}}
        </div>

        {{form.senha.label()}}
        <div class="input-group">
          <span class="icon">🔒</span>
          {{ form.senha()}}
        </div>
        {{ form.enviar(class = ".button") }}
      </form>
    </div>
      <img class="snake-img" src="{{ url_for('static', filename='imagens/mascote.png') }}" alt="mascote_fundo_azul_escuro">
   
  </div>
{%endblock%}
