{% extends "template.html" %}
{%block cabecalho%}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/login.css')}}"/>
 {%endblock%}

{%block corpo%}
  <div class="container">
    <div class="login-box">
      <h2>Login</h2>
      <form action = "{{url_for('autenticar')}}" method="post">
        <input type="hidden" name="proxima" value="{{ proxima }}">
        {{ form.csrf_token() }}


          {{form.idExercicio.label()}}
        <div class="input-group">
           {{ form.idExercicio()}}
        </div>
        
        {{form.numero.label()}}
        <div class="input-group">
          {{ form.numero()}}
        </div>

        {{form.titulo.label()}}
        <div class="input-group">
          {{ form.titulo()}}
        </div>
        {{form.enunciado.label()}}
        <div class="input-group">
          {{ form.enunciado()}}
        </div>
        {{form.alternativaA.label()}}
        <div class="input-group">
          {{ form.alternativaA()}}
        </div>
        {{form.alternativaB.label()}}
        <div class="input-group">
          {{ form.alternativaB()}}
        </div>
        {{form.alternativaC.label()}}
        <div class="input-group">
          {{ form.alternativaC()}}
        </div>
        {{form.alternativaD.label()}}
        <div class="input-group">
          {{ form.alternativaD()}}
        </div>
        {{form.resposta.label()}}
        <div class="input-group">
          {{ form.resposta()}}
        </div>
        {{ form.enviar(class = ".button") }}
      </form>
    </div>
      <img class="snake-img" src="{{ url_for('static', filename='imagens/mascote.png') }}" alt="mascote_fundo_azul_escuro">
   
  </div>
{%endblock%}



