<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/fase.css">
    <title>Fase1</title>
</head>
<body>
    <main>
        <div class="container-principal">
            <h2>Escolha a opção certa:</h2>
            <ul class="lista-item">
                <li class="li">
                    <div class="item">int = n = 5 </div>
                </li>
                <li class="li">
                    <div class="item"> int n e n = 5</div>
                </li>
                <li class="li">
                    <div class="item"> n = int = 5</div>
                </li>
                <li class="li">
                    <div class="item">5 = int = n</div>
                </li>
            </ul>
        </div>
        <div>
            <img src="../imgs/mascote.png" alt="">
        </div>
    </main>
</body>
</html>