{{%extends "template.html"%}}
{{%block cabecalho%}}
    <link rel="stylesheet" href="../static/fase1.css">
    <script src="../scripts/fase1.js" defer></script>
{{%endblock%}}


{{%block corpo%}}
  <section>
    <div class="container">
    <div class="titulo"><img src="../imagens/fase 1/cubo_recortado.png" alt="imagem cubo" class="cubo">Variáveis</div>

    <div class="pergunta">Qual dessas é uma variável válida?</div>

    <div class="botoes">
      
    </div>

    <div class="dica">
      
        <button class="balao">
          <p class="conteudo-dica">Conteúdo</p>
        </button>
    
      <img src="../imagens/mascote.png" alt="Mascote Pypo">
      </section>
    </div>
  </div>
{{%endblock%}}


