{%extends "template.html"%}
{%block cabecalho%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{%endblock%}

{%block corpo%}
    <h1>Bem-vindo ao PYPO</h1>
    <p>O jogo de programação que ensina Python de forma divertida!</p>
    <div class="links">
        <a href="{{ url_for('cadastrar', proxima='index') }}">Cadastro</a>
        <a href="{{ url_for('login', proxima='index') }}">Login</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
{%endblock%}