{%extends "template.html"%}
{%block cabecalho%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}"/> 
{%endblock%}
<body>
    <header>
        <div class="container-header">
            <h1 class="texto-header">PYPO</h1>
            <div class="container-icons">
                <div class="search" class="icons-header">
                    <button class="icon"><i class="fa-solid fa-magnifying-glass" style="color: #74C0FC;"></i></button>
                </div>
                <div class="perfil" class="icons-header">
                    <button class="icon"><i class="fa-solid fa-circle-user" style="color: #74C0FC;"></i></button>
                </div>
                <div class="barra-lateral" class="icons-header">
                    <button class="icon"><i class="fa-solid fa-bars" style="color: #74C0FC;"></i></button>
                </div>
            </div>
        </div>
    </header>
    <main class="container-principal">
        <div class="parte1" class="parte">
            <img src="../imgs/img1.webp" alt="" class="img1">
            <p>Venha ter um tutorial do PYPO</p>
            <a href="pag1.html" class="link1">Comece aqui</a>
        </div>
        <div class="parte2" class="parte">
            <a href="pag2.html" class="link2">
                <img src="../imgs/portugol.png" alt="" class="img2">
                <p class="txt-a">Portugol</p>
            </a>
        </div>
        <div class="parte3" class="parte">
            <a href="pag3.html">
                <img src="../imgs/baixados.png" alt="" class="img3">
                <p class="txt-a">Python</p>
            </a>
        </div>
    </main>
    <footer class="rodape">
        <div class="linha"></div>
        <div class="txt-rodape">
            <div class="rodape-container">
                <p><i class="fa-brands fa-instagram" style="color: #74C0FC;"></i>@pypo.project</p>
                <p><i class="fa-brands fa-x-twitter" style="color: #74C0FC;"></i>pypo.project</p>
                <p><i class="fa-brands fa-facebook" style="color: #74C0FC;"></i>pypo.project</p>
            </div>
            <p>Desenvolvido por Lucas Silva Fernades e Marco Antônio Pedroso Junqueira.</p>
        </div>
    </footer>
</body>
</html>