{% extends "template.html" %}
{% block cabecalho %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/loja.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script type="module" src="{{url_for('static', filename='js/loja.js')}}" defer></script>
{% endblock %}

{% block corpo %}
<div class="tela-loja-container">
    
    <div class="loja-header-actions">
        <div class="grupo-botoes-sair">
            <a href="{{ url_for('principal') }}" class="botao-sair-cancelar" title="Sair sem salvar">
                <i class="fa-solid fa-xmark"></i> Sair sem Salvar
            </a>
            
            <a href="/loja/salvar" class="botao-sair-salvar" title="Salvar compras e sair">
                <i class="fa-solid fa-floppy-disk"></i> Salvar e Sair
            </a>
        </div>

        <div class="saldo-usuario">
            <i class="fa-solid fa-coins" style="color: #ffd700;"></i>
            <span>Seus Pontos: <strong>550</strong></span>
        </div>
    </div>

    <h1 class="titulo-loja">Loja Pypo</h1>
    <p class="subtitulo-loja">Passe o mouse sobre os itens para ver os detalhes!</p>
    <div class="grid-loja">
        <input type="hidden" id="item-id" value="{{ listaItens}}">
        {% for item in listaItens %}
        <div class="card-item">
            <div class="area-interativa">
                <div class="icone-item">
                    <i class="fa-solid fa-glasses"></i>
                </div>
                <div class="descricao-item">
                    <p>{{ item.descricao }}</p>
                </div>
            </div>
            <h3 class="nome-item">{{ item.nome }}</h3>
            <div class="preco-item">
                <i class="fa-solid fa-coins"></i>
                <span>{{ item.valor }}</span>
            </div>
            <button class="botao-comprar {{ item.id }}">Comprar</button>
        </div>

        {% endfor %}

    </div>
</div>
{% endblock %}