
<body>
    <main class="principal">
        <img src="../imgs/mascote.png" alt="">
        <div class="container-principal">
            <h1>Login</h1>
            <div class="entrar_metodos">
                <button class="entrar_botoes"><i class="fa-brands fa-google" style="color: #3b80b5;"></i> Google</button>
                <button class="entrar_botoes"><i class="fa-brands fa-github" style="color: #3b80b5"></i> Git Hub</button>
            </div>
            <input type="text" id="nome" class="barra" placeholder="Digite o seu e-mail">
            <input type="password" id="senha" class="barra" placeholder="Digite a sua senha">
            <a class="entrar" href="inicio.html">Entrar</a>
            <p class="text_apoio">Esqueceu a senha?<a href="" class="apoio" class="text_apoio">Clique aqui</a></p>
        </div>
    </main>
</body>
</html>